/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

//  @import url('https://fonts.googleapis.com/css?family=Fira+Sans');
// @import url('https://fonts.googleapis.com/css?family=Hind');

// $font-family-base: 'Fira Sans', sans-serif;
$font-family-base: 'Hind', sans-serif;
$font-size-base: 1.2rem;
$link-hover-decoration: none;
$enable-rounded: false;

$theme-colors: (
  primary: rgba(247, 23, 53, 1),
  secondary: #345995,
  dark: rgba(1, 22, 39, 1),
  light: rgba(253, 255, 252, 1),
  warning: rgba(255, 159, 28, 1)
);

@import "bootstrap";

.navbar-nav > a {
  @extend .nav-link;
}

.none {
  display: none;
}

.user-link {
  color: theme-color(secondary);
  transition: all .1s;
  &:hover {
    color: theme-color(dark);
  }
}